html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.85;
  font-size: 13px;
  color: #000;
}

h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: italic;
  line-height: 1.45;
  font-size: 16px;
  color: #ee3643;
}

h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 18px;
  color: #000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  margin-bottom: 59px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
}

.header-top {
  background-color: #293449;
}

.home-top {
  float: left;
  position: relative;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 7px;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 1;
  font-size: 24px;
}

.home-top::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.purchase-block a {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 10px;
  line-height: 1.05;
  font-size: 17px;
  color: #fff;
  vertical-align: middle;
}

.header-main {
  padding-top: 45px;
  padding-bottom: 60px;
}

.search {
  float: left;
  width: 270px;
}

.search-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 49px;
  background-color: transparent;
  background-image: url("../img/icons/icon-search.png");
  background-repeat: no-repeat;
  background-position: 17px 12px;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Cuprum", "Arial", sans-serif;
}

.search-input:focus {
  background-color: #fff;
}

/*.search::before {
    content: "";
    display: inline-block;

    width: 20px;
    height: 20px;
    float: left;
}*/

.purchase-block {
  float: left;
}

.purchase-block > a {
  float: left;
  text-decoration: none;
}

.purchase-link::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.purchase-link.bookmarks::before {
  background: url("../img/icons/icon-bookmark.png") no-repeat;
  margin-right: 3px;
  margin-left: 17px;
}

.purchase-link.cart::before {
  background: url("../img/icons/icon-basket.png") no-repeat;
  margin-right: 9px;
  margin-left: 16px;
}

.purchase-link,
.checkout {
  width: 150px;
}

.checkout {
  text-align: center;
}

.header-main {
  background-color: #f1f5f7;
}

.shop-desc {
  float: left;
  width: 220px;
  margin-top: 3px;
  margin-right: 47px;
  margin-left: 53px;
  font-family: "Cuprum", "Arial", sans-serif;

}

.header-contacts {
  float: left;
  width: 270px;

  text-align: center;
}

.header-contacts-tel {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 22px;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #fff;
  line-height: 1;
  font-size: 21px;
  color: #e9292a;
}

.header-contacts-tel::before {
  position: absolute;
  left: 11px;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../img/icons/icon-phone.png") no-repeat;
}

.header-contacts-address{
  line-height: 1.7;
  font-size: 14px;
  margin: 5px;
}

.user-block {
  float: right;
  width: 330px;
  text-align: right;
}

.user-sign-in-up {
  font-size: 0;
}

.user-sign-in-up > a {
  display: inline-block;
  margin-left: 10px;
  padding: 12px 24px;
  text-decoration: none;
  background: #fff;
  line-height: 1;
  font-size: 21px;
}

a.sign-in {
  padding-right: 26px;
}

.sign-in::before {
  content: "";
  display: inline-block;
  margin-left: -9px;
  width: 33px;
  height: 20px;
  background: url('../img/icons/icon-login.png') no-repeat;
  vertical-align: middle;
}

.main-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-main-content {
  margin-bottom: 29px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu {
  margin: 0;
  padding: 0 15px;
  font-size: 0;
}

.nav-menu-item {
  display: inline-block;
}

.nav-menu-item a {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-menu-item a:hover {
  background-color: #1d2739;
  box-shadow: 0 5px 0px 0px #1d2739;
}

.promo {
  margin-bottom: 53px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.gallery {
  float: left;
  width: 620px;
  min-height: 266px;
  margin-right: 20px;
}

.promo-block {
  float: left;
  min-height: 123px;
  width: 300px;
  margin-bottom: 20px;
}

.promo-materials {
  background-color: #F6B22D;
}

.promo-tools {
  background-color: #4AAEDF;
}

.promo-machinery {
  background-color: #CD79D1;
}

.promo-sale {
  background-color: #85D179;
}

.promo-delivery {
  background-color: #F6B22D;
}

.promo-block-title {
  padding-top: 21px;
  padding-bottom: 12px;
  padding-left: 23px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #fff;
}

.promo-block-link {
  display: inline-block;
  width: 135px;
  margin-left: 24px;
  padding-top: 12px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.28;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
}

.promo-block:first-child,
.promo-block:nth-child(2) {
  margin-right: 20px;
}

.promo-block:last-child {
  margin-bottom: 0;
}

.popular {
  margin-bottom: 20px;
}

.section-header {
  min-height: 89px;
  margin-bottom: 20px;

  background-color: #f7f3ec;
  border: 1px solid transparent;
}

.popular-header .section-header-title {
  float: left;
  display: block;
}

.popular-header .popular-header-all {
  float: right;
}

.good-card {
  position: relative;

  float: left;
  width: 218px;
  min-height: 316px;
  margin-right: 20px;

  border: 1px solid #e5e5e5;
}

.popular-content .good-card:last-child {
  margin-right: 0;
}

.venodor {
  display: inline-block;
  float: left;
  min-height: 143px;
  width: 218px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-content .venodor:nth-child(4n) {
  margin-right: 0;
}

.services {
  margin-bottom: 79px;
  background-color: #f2f6f8;
}

.services-content .services-list {
  float: left;
  width: 240px;
}

.services-content-right {
  float: right;
  width: 620px;
}

.service-advantage {
  width: 300px;
}

.about-us .company-block {
  float: left;
  width: 540px;
}

.about-us .contacts-block {
  float: right;
  width: 300px;
}

.page-footer {
  padding-bottom: 86px;
}

.footer-top {
  background-color: #32425c;
}

.footer-top-menu {
  min-height: 96px;
}

.footer-top-menu .home-bottom {
  float: left;
}

.footer-top-menu .menu-bottom-sections {
  float: right;
}

.footer-top-catalog .footer-address {
  float: left;
}

.footer-top-catalog .menu-bottom-promo {
  float: right;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright {
  width: 300px;
  float: left;
  margin-right: 90px;
}

.footer-social {
  float: left;
  width: 150px;
}

.footer-author {
  width: 140px;
  float:right;
}

.footer-feedback {
  float:right;
  width: 150px;
  margin-right: 10px;
}

.popup .lost-popup {
  box-sizing: border-box;
  width: 620px;
  padding-left: 80px;
  padding-right: 80px;
}

.map-popup {
  width: 940px;
}

.popup .dialog-half {
  width: 220px;
  display: inline-block;
}

.popup input {
  box-sizing: border-box;
  width: 100%;
}

.popup-close {
  display: block;
}

.filters-form {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.index-content {
  float: right;
  width: 700px;
}

.view-content .good-card:nth-child(3n) {
  margin-right: 0;
}
