html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 960px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.85;
  font-size: 13px;
  color: #000;
}

h1 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-style: italic;
  line-height: 1.45;
  font-size: 16px;
  color: #ee3643;
}

h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 18px;
  color: #000;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  margin-bottom: 59px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
}

.header-top {
  background-color: #293449;
}

.home-top {
  float: left;
  position: relative;
  width: 220px;
  padding-top: 11px;
  padding-bottom: 7px;
  text-align: center;
  background-color: #ee3643;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 1;
  font-size: 24px;
}

.home-top::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -5px;
  width: 100%;
  height: 5px;
  background-color: #b52933;
}

.header-main {
  padding-top: 45px;
  padding-bottom: 60px;
}

.search {
  float: left;
  width: 270px;
}

.search-input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 49px;
  background-color: transparent;
  background-image: url("../img/icons/icon-search.png");
  background-repeat: no-repeat;
  background-position: 17px 12px;
  font-size: 17px;
  line-height: 1.2;
  font-family: "Cuprum", "Arial", sans-serif;
}

.search-input:focus {
  background-color: #fff;
}

.purchase-block {
  float: left;
}

.purchase-block a {
  position: relative;
  float: left;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 13px;
  line-height: 1.05;
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.purchase-link {
  padding-right: 30px;
  text-align: right;
}

.purchase-link,
.checkout {
  width: 150px;
}

.purchase-link::before {
  content: "";
  position: absolute;
  display: block;;
  width: 20px;
  height: 20px;
  left:16px;
}

.purchase-link.bookmarks::before {
  background: url("../img/icons/icon-bookmark.png") no-repeat;
}

.purchase-link.cart::before {
  background: url("../img/icons/icon-basket.png") no-repeat;
}

.checkout {
  text-align: center;
  background-color: #63a63e;
}

.header-main {
  background-color: #f1f5f7;
}

.shop-desc {
  float: left;
  width: 220px;
  margin-top: 3px;
  margin-right: 47px;
  margin-left: 53px;
  font-family: "Cuprum", "Arial", sans-serif;

}

.header-contacts {
  float: left;
  width: 270px;

  text-align: center;
}

.header-contacts-tel {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 22px;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid #fff;
  line-height: 1;
  font-size: 21px;
  color: #e9292a;
}

.header-contacts-tel::before {
  position: absolute;
  left: 11px;
  content: "";
  display: inline-block;
  width: 19px;
  height: 19px;
  background: url("../img/icons/icon-phone.png") no-repeat;
}

.header-contacts-address{
  line-height: 1.7;
  font-size: 14px;
  margin: 5px;
}

.user-block {
  float: right;
  width: 330px;
  text-align: right;
}

.user-sign-in-up {
  font-size: 0;
}

.user-sign-in-up > a {
  display: inline-block;
  margin-left: 10px;
  padding: 12px 24px;
  text-decoration: none;
  background: #fff;
  line-height: 1;
  font-size: 21px;
}

a.sign-in {
  padding-right: 26px;
}

.sign-in::before {
  content: "";
  display: inline-block;
  margin-left: -9px;
  width: 33px;
  height: 20px;
  background: url('../img/icons/icon-login.png') no-repeat;
  vertical-align: middle;
}

.main-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-main-content {
  margin-bottom: 29px;
}

.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu {
  margin: 0;
  padding: 0 15px;
  font-size: 0;
}

.nav-menu-item {
  display: inline-block;
}

.nav-menu-item a {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-menu-item a:hover {
  background-color: #1d2739;
  box-shadow: 0 5px 0px 0px #1d2739;
}

.promo {
  margin-bottom: 53px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.gallery {
  float: left;
  width: 620px;
  min-height: 266px;
  margin-right: 20px;
}

.promo-block {
  position: relative;
  float: left;
  width: 300px;
  box-sizing: border-box;
  padding: 22px 24px;
  margin-bottom: 20px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-position: 83% 57%;
}

.promo-materials {
  background-color: #F6B22D;
  background-image: url('../img/promo/promo-materials.png');

}

.promo-tools {
  background-color: #4AAEDF;
  background-image: url('../img/promo/promo-tools.png');
}

.promo-machinery {
  background-color: #CD79D1;
  background-image: url('../img/promo/promo-machinery.png');
}

.promo-sale {
  background-color: #85D179;
  background-image: url('../img/promo/promo-sale.png');
}

.promo-delivery {
  background-color: #F6B22D;
  background-image: url('../img/promo/promo-delivery.png');
}

.promo-block-title {
  margin-bottom: 11px;
  font-size: 24px;
  line-height: 1.25;
  font-weight: bold;
  color: #fff;
}

.promo-block-link {
  display: inline-block;
  width: 135px;
  padding-top: 12px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 1.28;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: rgba(0,0,0,0.1);
}

.promo-machinery,
.promo-sale,
.promo-delivery {
  margin-right: 0px;
}

.promo-block:last-child {
  margin-bottom: 0;
}

.new-flag:after {
  content: "new";
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  background-color: #ee3643;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 50px;
  padding-right: 50px;
  color: #fff;
  transform: rotate(45deg);
  text-align: center;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.125;
}



.gallery {
  position: relative;
  width: 620px;
  height: 266px;
}

.slide {
  position: relative;
  display: none;
}

.slide img {
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  display: block;
}

.gallery .slides-block {
  position: absolute;
}

.gallery .slide.active {
  z-index: 1;
}

.popular {
  margin-bottom: 21px;
}

.section-header {
  padding: 25px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
  border: 1px solid transparent;
}

.section-header .section-header-title {
  float: left;
  margin: 5px 0px 0px 2px;
}

.section-header .popular-header-all {
  float: right;
  width: 255px;
  text-align: center;
  box-sizing: border-box;
}

.link-btn {
  display: inline-block;
  padding: 10px 55px;
  background-color: #ee3643;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.285;
  border: none;
  cursor: pointer;
}

.good-card {
  position: relative;

  float: left;
  width: 218px;
  margin-right: 20px;
  padding-bottom: 19px;
  border: 1px solid #e5e5e5;
  font-weight: bold;

  text-align: center;
}

.good-card-image  {
  height: 180px;
  width: 100%;
  background-color: #fff;
}

.good-card-image  .good-image {
  display: block;
  margin: auto;
}

.good-actions {

  display: none;
  position: absolute;
}

.good-card-header {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.15;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.old-price {
  min-height: 17px;
  font-size: 17px;
  line-height: 1.05;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.price {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 1.05;
    padding-right: 20px;
    padding-left: 35px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-left: -10px;
    color: #fff;
    border-top-left-radius: 3px;
    border-bottom-left-radius : 3px;
    background-color: #ee3643;
    text-transform: uppercase;
    text-decoration: none;
}

.price:after, .price:before {
    content: "";
    position: absolute;
    left: 100%;
    width: 20px;
    height: 50%;
    background-color: #ee3643;
}
.price:before {
    top: 0px;
    background: linear-gradient(to top right,  #ee3643 50%, transparent 51%);
}
.price:after {
    bottom: 0px;
    background: linear-gradient(to bottom right,  #ee3643 50%, transparent 51%);
}

.popular-content .good-card:last-child {
  margin-right: 0;
}

.venodor {
  display: inline-block;
  float: left;
  min-height: 143px;
  width: 218px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
}

.venodor-bosch {
  background-image: url('../img/brands/b-bosch.jpg');
}

.venodor-makita {
  background-image: url('../img/brands/b-makita.jpg');
}

.venodor-dewalt {
  background-image: url('../img/brands/b-dewalt.jpg');
}

.venodor-iterskol {
  background-image: url('../img/brands/b-interskol.jpg');
}

.venodor-hitachi {
  background-image: url('../img/brands/b-hitachi.jpg');
}

.venodor-lg {
  background-image: url('../img/brands/b-lg.jpg');
}

.venodor-aeg {
  background-image: url('../img/brands/b-aeg.jpg');
}

.venodor-metabo {
  background-image: url('../img/brands/b-metabo.jpg');
}

.popular-content .venodor:nth-child(4n) {
  margin-right: 0;
}

.popular-vendors {
  margin-bottom: 65px;
}

.services {
  margin-bottom: 55px;
  padding-top: 65px;
  background-color: #f2f6f8;
}

.services-header {
  font-family: "Cuprum", "Arial", sans-serif;
  margin-bottom: 26px;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
}

.services-desc {
  margin-bottom: 37px;
}

.service-advantage {
  max-width: 380px;
}

.services-content .services-list {
  position: relative;
  float: left;
  width: 240px;
  margin: 0;
  padding: 32px 0;
  list-style: none;

}

.services-list::after {
  content: "";
  position: absolute;
  right: 0;
  top:0;
  display: block;
  width: 10px;
  height: 272px;
  background: url("../img/shadow-side.png") no-repeat 100% 50%;
}

.services-list-item a{
    display: block;
    padding-top: 12px;
    padding-bottom: 16px;
    padding-left: 22px;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;
    background-color: #32425c;
    color: #fff;
    text-decoration: none;
}

#service-delivery:target,
#service-guarantee:target,
#service-credit:target {
  z-index: 2;
}
.service {
  background-repeat: no-repeat;
  background-position: 100% 100%
}
.service-delivery {
  background-image: url('../img/services/service-delivery.png');
}

.service-guarantee {
  background-image: url('../img/services/service-warranty.png');
}

.service-credit {
  background-image: url('../img/services/service-credit.png');
}

.services-list-item.active a {
  color: #32425c;
  background-color: #fff;
  border: 1px solid #fff;
}

.services-content-right {
  position: relative;
  float: right;
  width: 620px;
  min-height: 315px;
}

.services-content-right .service {
  position: absolute;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  background-color: #f2f6f8;
}

.service-delivery {
  z-index: 1;
}

.service-name {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1;
}

.about-us .company-block {
  float: left;
  width: 540px;
}

.about-us .contacts-block {
  float: right;
  width: 300px;
}

.page-footer {
  padding-bottom: 86px;
}

.footer-top {
  background-color: #32425c;
}

.footer-top-menu {
  min-height: 96px;
}

.footer-top-menu .home-bottom {
  float: left;
}

.footer-top-menu .menu-bottom-sections {
  float: right;
}

.footer-top-catalog .footer-address {
  float: left;
}

.footer-top-catalog .menu-bottom-promo {
  float: right;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copyright {
  width: 300px;
  float: left;
  margin-right: 90px;
}

.footer-social {
  float: left;
  width: 150px;
}

.footer-author {
  width: 140px;
  float:right;
}

.footer-feedback {
  float:right;
  width: 150px;
  margin-right: 10px;
}

.popup .lost-popup {
  box-sizing: border-box;
  width: 620px;
  padding-left: 80px;
  padding-right: 80px;
}

.map-popup {
  width: 940px;
}

.popup .dialog-half {
  width: 220px;
  display: inline-block;
}

.popup input {
  box-sizing: border-box;
  width: 100%;
}

.popup-close {
  display: block;
}

.filters-form {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.index-content {
  float: right;
  width: 700px;
}

.view-content .good-card:nth-child(3n) {
  margin-right: 0;
}
