<section class="about-us">
  <div class="company-block">
    <h2>компания &laquo;техномарт&raquo;</h2>
    <p class="company-intro">
      Настоящий мужской шопинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушным любителей сэкономить на гастарбайтерах.
    </p>
    <div class="company-delivery">
      <p>
        Мы можем доставить ваш товар в самые отдаленные точки России!<br>
        Техномарт работает со многими транспортными компаниями:
      </p>
      <ul class="trans-list">
        <li class="trans-list__item">Деловые линии</li>
        <li class="trans-list__item">Автотрейдинг</li>
        <li class="trans-list__item">ЖелДорЭкспедиция</li>
      </ul>
      <a href="#" class="link-btn">подробнее о компании</a>
    </div>
  </div>
  <div class="contacts-block">
    <h2>контакты</h2>
    <p>
      Вы можете забрать товар сами,<br>
      заехав в наш офис:
    </p>
    <div class="map">
      <a href="#">
        <img src="http://placehold.it/250x130" height="130" width="250">
      </a>
    </div>
    <a href="#" class="link-btn">заблудились? напишите нам!</a>
  </div>
</section>
