<div class="lost-popup popup">
  <form action="action=https://echo.htmlacademy.ru" method="post">
    <button type="button" class="popup-close">x</button>
    <div class="container">
      <div class="dialog-half">
        <label for="form-name">Ваше имя:</label>
        <input type="text" placeholder="Представьтесь, пожалуйста" name="name" id="form-name">
      </div>
      <div class="dialog-half">
        <label for="form-email">Ваш e-mail:</label>
        <input type="text" placeholder="Представьтесь, пожалуйста" name="email" id="form-email">
      </div>
      <label for="form-text">Текст письма:</label>
      <textarea id="form-text" rows="5" placeholder="В свободной форме"></textarea>
    </div>
    <div class="popup-bottom">
      <button type="submit">отправить</button>
    </div>
  </form>
</div>
