<div class="promo">
  <div class="promo-block promo-materials new-flag">
    <div class="promo-block-title">Материалы</div>
    <a class="promo-block-link">На любой вкус</a>
  </div>
  <div class="promo-block promo-tools">
    <div class="promo-block-title">Инструмент</div>
    <a class="promo-block-link">На все случаи жизни</a>
  </div>
  <div class="promo-block promo-machinery">
    <div class="promo-block-title">Техника</div>
    <a class="promo-block-link">Для стройки</a>
  </div>
  <div class="gallery">
    <div class="slides-block">
      <div class="slide slide-first">
        <img src="http://placehold.it/520x225" width="520" height="225" alt="Перфораторы">
        <div class="slide-title">Перфораторы</div>
        <div class="slide-subtitle">Настоящие мужские игрушки</div>
      </div>
      <div class="slide slide-second">
        <img src="http://placehold.it/520x225" width="520" height="225" alt="Дрели">
        <div class="slide-title">Дрели</div>
        <div class="slide-subtitle">Настоящие мужские игрушки</div>
      </div>
    </div>
    <button type="button" class="gallery-btn-left">left</button>
    <button type="button" class="gallery-btn-right">right</button>
    <div class="gallery-circles">
      <button type="button" class="gallery-circle gallery-circle-filled">left</button>
      <button type="button" class="gallery-circle">right</button>
    </div>
    <a class="gallery-to-catalog link-btn">Открыть каталог</a>
  </div>
  <div class="promo-block promo-sale">
    <div class="promo-block-title">Скидки 50%</div>
    <a class="promo-block-link">На 350 товаров</a>
  </div>
  <div class="promo-block promo-delivery">
    <div class="promo-block-title">Доставка</div>
    <a class="promo-block-link">Бесплатно</a>
  </div>
</div>
