<section class="promo">
  <div class="promo-block promo-materials">
    <div class="promo-block__title">материалы</div>
    <a class="promo-block__link">на любой вкус</a>
  </div>
  <div class="promo-block promo-tools">
    <div class="promo-block__title">инструмент</div>
    <a class="promo-block__link">на все случаи жизни</a>
  </div>
  <div class="promo-block promo-machinery">
    <div class="promo-block__title">техника</div>
    <a class="promo-block__link">для стройки</a>
  </div>
  <div class="promo-block promo-sale">
    <div class="promo-block__title">скидки 50%</div>
    <a class="promo-block__link">на 350 товаров</a>
  </div>
  <div class="promo-block promo-delivery">
    <div class="promo-block__title">Доставка</div>
    <a class="promo-block__link">бесплатно</a>
  </div>
  <div class="gallery">
    <figure>
      <img src="http://placehold.it/520x225" width="520" height="225">
    </figure>
    <div class="gallery__btn-left"></div>
    <div class="gallery__btn-right"></div>
    <div class="gallery__title">перфораторы</div>
    <div class="gallery__sub-title">настоящие мужские игрушки</div>
    <a class="gallery__catalog link-btn">открыть каталог</a>
  </div>
</section>
