<section class="services">
  <header class="services-header">
    <div class="services-title">сервисы</div>
  </header>
  <p class="services__desc">
    Хороший интернет-магазин отличается от плохого не только ценами!<br>
    Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.
  </p>
  <div class="services-content">
    <ul class="services-list">
      <li class="services-list__item">Доставка</li>
      <li class="services-list__item">Гарантия</li>
      <li class="services-list__item">Кредит</li>
    </ul>
    <div class="services-content-right">

      <div class="service service-delivery">
        <h2 class="service-name">Доставка</h2>
        <p>
          Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно!<br>
          Ведь мы неплохо заработаем, поднимая его на ваш этаж!
        </p>
      </div>
      <div class="service service-guarantee">
        <h2 class="service-name">Гарантия</h2>
        <p>
          Если купленный у нас товар поломается или заискрит, а также в случае пожара,
          спровоцированного его возгоранием, вы всегда можете быть уверены в нашей гарантии.
          Мы обменяем сгоревший товар на новый.<br>
          Дом уж восстановите как-нибудь сами.
        </p>
      </div>
      <div class="service service-credit">
        <h2 class="service-name">Кредит</h2>
        <p>
          Залезть в долговую яму стало проще!<br>
          Кредитные консультации придут вам на помощь.
        </p>
      </div>
    </div>
  </div>
</section>
