<section class="services">
  <h2 class="services__title">сервисы</h2>
  <p class="services__desc">
    Хороший интернет-магазин отличается от плохого не только ценами!<br>
    Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными.
  </p>
  <div class="services-content">
    <div class="services-content-left">
      <ul class="services-list">
        <li class="services-list__item">Доставка</li>
        <li class="services-list__item">Гарантия</li>
        <li class="services-list__item">Кредит</li>
      </ul>
    </div>
    <div class="services-content-right">
      <div class="service__name">доставка</div>
      <p class="service__description">
        Мы с удовольствием доставим ваш товар прямо к вашему подъезду совершенно бесплатно!<br>
        Ведь мы неплохо заработаем, поднимая его на ваш этаж!
      </p>
    </div>
  </div>
</section>
