<footer class="page-footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-top-row">
        <a class="home-bottom">
          <img height="20" width="110" src="http://placehold.it/20x110">
        </a>
        <ul class="menu-bottom menu-bottom-sections">
          <li class="menu-item">
            <a href="#">Компания</a>
          </li>
          <li class="menu-item">
            <a href="#">Новости</a>
          </li>
          <li class="menu-item">
            <a href="#">Каталог</a>
          </li>
          <li class="menu-item">
            <a href="#">Доставка</a>
          </li>
          <li class="menu-item">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer-top-row">
        <p class="footer-address">
          г. Санкт-Петербург, ул. Б. Конюшенная, д.19/8 <br>
          <a href="tel:+7 (812) 555-05-55"+7 (812) 555-05-55</a>
        </p>
        <ul class="menu-bottom menu-bottom-promo">
          <li class="menu-item">
            <a href="#">Материалы</a>
          </li>
          <li class="menu-item">
            <a href="#">Техника</a>
          </li>
          <li class="menu-item">
            <a href="#">Инструмент</a>
          </li>
          <li class="menu-item">
            <a href="#">Спецпредложения</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <section class="footer-copyright">
        <p>&copy; 2010-2016 Компания &laquo;Техномарт&raquo;<p>
        <a href="tel:+78125550555">+7 (812) 555-05-55</a>
      </section>
      <section class="footer-social">
        <a class="social-btn social-btn-vk" href="#">Вконтакте</a>
        <a class="social-btn social-btn-fb" href="#">Фейсбук</a>
        <a class="social-btn social-btn-inst" href="#">Инстаграм</a>
      </section>
      <section class="footer-feedback">
        <p>Обратная связь:</p>
        <a class="feedback-link" href="mailto:mail@htmlacademy.ru">mail@htmlacademy.ru</a>
      </section>
      <section class="footer-author">
        <p>Разработано &ndash;</p>
        <a class="feedback-link" href="http://htmlacademy.ru">htmlacademy.ru</a>
      </section>
    </div>
  </div>
</footer>
