<article class="good-card good-card_new">
  <div class="good-card__new-flag"></div>
  <img
    height="140"
    width="180"
    class="good-card__image"
    src="http://placehold.it/140x180" >
  <div class="good-actions">
    <a href="#" class="good-actions__buy"></a>
    <a href="#" class="good-actions__to-bookmarks"></a>
  </div>
  <div class="good-card__desc">
    Перфоратор BOSCH BFG 6000
  </div>
  <div class="good-card__old-price">30500 р.</div>
  <a class="good-card__price">
    25500 р.
  </a>
</article>
