<div class="index-content">
  <div class="soring">
    <a class="sort-title">Сортировка:</a>
    <a class="sort-kind sort-kind-type active">По цене</a>
    <a class="sort-kind sort-kind-type">По типу</a>
    <a class="sort-kind sort-kind-func">По функционалу</a>
    <a class="sort-order sort-order_asc active">По возрастанию</a>
    <a class="sort-order sort-order_desc">По убыванию</a>
  </div>

  <div class="view-content">

  </div>

  <ul class="pager">
    <li class="pager-item active">1</li>
    <li class="pager-item"><a href="#">2</a></li>
    <li class="pager-item"><a href="#">3</a></li>
    <li class="pager-item pager-item-next"><a href="#">следующая</a></li>
  </ul>
</div>
