<!-- Перфоратор BOSCH BFG 2000 -->

<section class="index-content">
  <div class="soring">
    <span class="sort-title">сортировка:</span>
    <span class="sort-kind sort-kind-type">по цене</span>
    <span class="sort-kind sort-kind-type">по типу</span>
    <span class="sort-kind sort-kind-func">по функционалу</span>
    <i class="sort-order sort-order_asc active"></i>
    <i class="sort-order sort-order_desc"></i>
  </div>

  <div class="view-content">

  </div>

  <ul class="pager">
    <li class="pager-item pager-item-prev"><a href="#">предыдущая</a></li>
    <li class="pager-item">1</li>
    <li class="pager-item active"><a href="#">2</a></li>
    <li class="pager-item"><a href="#">3</a></li>
    <li class="pager-item pager-item-next"><a href="#">следующая</a></li>
  </ul>

</section>
